




main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
}

.pic-of-me {
    border: 15px;
    width: 600px;
    grid-column: 2 / 3;
    padding: 1rem auto;
    margin: 1rem;
}