
* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: brown;
}

main img {
    display: block;
    height: 600px;
    width: 400px;
    background: #000;
    animation: fade 15s;
    margin-left: 500px;
    margin-top: 500px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: brown;
    justify-content: space-evenly;
}