@media screen and (min-width: 32rem){


.main-heading {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding-left: 100px;
}

.card-info {
    margin: 0;
    padding: 10px;
}

.card1 {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.card2 {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}

#menu {
    display: none;
}

.navigation {
    flex-direction: row;
}

.navigation a {
    display: block;
    flex: 1 1 100%;
}

}
