@media screen and (min-width: 32rem){

main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 100px 300px;
}

.main-heading {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    padding-left: 100px;
    text-align: center;
}

picture img {
    grid-column: 1 / 4;
    grid-row: 1 / 2;    
    height: 100%;
    width: auto;
}

.hero-text {
    position: absolute;
    top: 350px;
    left: 700px;
    border: 1px solid;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75; 
  }

.hero-label p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 4.5rem;
	font-family:"Great Vibes", serif;
}

.card-info {
    margin: 0;
    padding: 10px;
}

.card1 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.card2 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#menu {
    display: none;
}

.navigation {
    flex-direction: row;
}

.navigation a {
    display: block;
    flex: 1 1 100%;
}

}
